/* PC */
@media screen and (min-width: 992px) {
  .mobile-header {
    display: none;
  }
}

/* Tablet and Mobile */
@media screen and (max-width: 991px) {
  .navbar {
    display: none;
  }

  .toggle-menu {
    width: 24px;
    color: #666;
  }

  .menu-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease;
  }

  .menu-drawer {
    position: fixed;
    inset: 0 40% 0 0;
    background: #fff;
    z-index: 2;
    padding: 60px;
    transform: translateX(-100%);
    transition: 0.5s ease;
  }

  .menu-drawer .navbar__list {
    display: flex;
    flex-direction: column;
  }

  .menu-drawer .navbar__link {
    display: block;
    color: #333;
    font-weight: 600;
    padding: 14px 0;
    text-shadow: none;
  }

  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }

  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }

  .hero__media {
    display: none;
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .header {
    position: relative;
  }

  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .hero__inner {
    height: calc(100vh - 90px);
  }

  .about__media {
    display: none;
  }

  .about__inner {
    grid-template-columns: 1fr;
  }

  .about__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .tab__content-desc {
    width: 100%;
  }

  .service__body {
    grid-template-columns: 1fr 1fr;
  }

  .service__column:nth-child(2) {
    display: none;
  }

  .review__inner {
    column-gap: 35px;
  }

  .review-item {
    column-gap: 60px;
  }

  .section-heading {
    font-size: 4rem;
  }

  .review-item__quote {
    width: 100%;
  }

  .blog__list {
    grid-template-columns: 1fr 1fr;
    row-gap: 60px;
  }

  .footer__row {
    grid-template-columns: 1fr;
  }

  .footer__copyright {
    font-size: 1.4rem;
    margin: 60px 0 0 22px;
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
}

/* Mobile */
@media screen and (max-width: 767px) {
}
