/* PC */
@media screen and (min-width: 992px) {
  .mobile-header {
    display: none;
  }

  .show-on-mobile {
    display: none;
  }
}

/* Tablet and Mobile */
@media screen and (max-width: 991px) {
  .navbar {
    display: none;
  }

  .toggle-menu {
    width: 24px;
    color: #666;
  }

  .menu-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease;
  }

  .menu-drawer {
    position: fixed;
    inset: 0 40% 0 0;
    background: #fff;
    z-index: 2;
    padding: 60px;
    transform: translateX(-100%);
    transition: 0.5s ease;
  }

  .menu-drawer .navbar__list {
    display: flex;
    flex-direction: column;
  }

  .menu-drawer .navbar__link {
    display: block;
    color: #333;
    font-weight: 600;
    padding: 14px 0;
    text-shadow: none;
  }

  .menu-checkbox:checked ~ .menu-overlay {
    opacity: 1;
    visibility: visible;
  }

  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }

  .hero__media {
    display: none;
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .header {
    position: relative;
  }

  .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .hero__inner {
    height: calc(100vh - 90px);
  }

  .about__media {
    display: none;
  }

  .about__inner {
    grid-template-columns: 1fr;
  }

  .about__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .tab__content-desc {
    width: 100%;
  }

  .service__body {
    grid-template-columns: 1fr 1fr;
  }

  .service__column:nth-child(2) {
    display: none;
  }

  .review__inner {
    column-gap: 35px;
  }

  .review-item {
    column-gap: 60px;
  }

  .section-heading {
    font-size: 4rem;
  }

  .review-item__quote {
    width: 100%;
  }

  .blog__list {
    grid-template-columns: 1fr 1fr;
    row-gap: 60px;
  }

  .footer__row {
    grid-template-columns: 1fr;
  }

  .footer__copyright {
    font-size: 1.4rem;
    margin: 60px 0 0 22px;
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .show-on-mobile {
    display: none;
  }
}

/* Mobile */
@media screen and (max-width: 767px) {
  .hide-on-mobile {
    display: none;
  }

  .menu-drawer {
    inset: 0 25% 0 0;
    padding: 40px;
  }

  .hero {
    margin: 0;
  }
  .hero__content {
    width: 100%;
  }

  .hero__heading {
    font-size: 6rem;
  }

  .about__inner {
    display: flex;
    flex-direction: column;
  }

  .about__content {
    display: block;
    width: 100%;
    text-align: left;
  }

  .about__checklist {
    grid-template-columns: 1fr;
  }

  .section-heading {
    font-size: 3.7rem;
  }

  .section-heading,
  .section-desc {
    width: 100%;
  }

  .tab {
    display: flex;
    align-items: center;
  }

  .tab__list {
    flex-direction: column;
    row-gap: 40px;
  }

  .tab__contents {
    margin: 0 0 203px 20px;
  }

  .service__body {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
  }

  .staff__list {
    grid-template-columns: 1fr;
    row-gap: 40px;
  }

  .pricing__list {
    grid-template-columns: 1fr;
    row-gap: 50px;
  }

  .pricing__sale-off {
    top: -45px;
    right: -60px;
  }

  .review-item__img-media {
    display: none;
  }

  .review__control {
    display: none;
  }

  .blog__top {
    flex-direction: column;
  }

  .blog__info {
    margin: 0;
  }

  .blog__list {
    grid-template-columns: 1fr;
  }

  .footer {
    background: #fff6ed;
    padding-top: 30px;
  }

  .footer__inner {
    display: grid;
    grid-template-columns: 1fr;
  }

  .footer__left {
    padding: 0;
  }

  .footer__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
  }

  .footer__copyright {
    margin: 60px 0 0 0;
    text-align: center;
  }
}
