* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  background: #fffaf5;
}

:root {
  --primary-color: #ff5b2e;
}

/* =================================================== Common ====================================================== */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sora", sans-serif;
}

input,
textarea,
select,
button {
  font-size: inherit;
  font-family: inherit;
}

.container {
  width: 1170px;
  max-width: calc(100%-48px); /* 48px là ước lượng */
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.btn {
  --height: 56px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 130px;
  height: var(--height);
  line-height: var(--height);
  border: 1px solid rgb(0, 9, 88, 0.7); /* đổi thành rgb thêm tham số alpha thay vì dùng opacity sẽ làm mờ cả chữ */
  border-radius: 99px;

  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
  color: #000958;
}

.btn:hover {
  opacity: 0.9;
}

.btn--primary {
  color: #fff;
  background: var(--primary-color);
  border-color: var(--primary-color);
}

.btn__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 4px 3px 10px -1px #bf290066;
}

.section-heading {
  font-family: Sora, sans-serif;
  font-weight: 700;
  font-size: 5.2rem;
  line-height: 1.19;
  color: #000958;
}

.section-desc {
  margin-top: 24px;
  font-size: 1.6rem;
  line-height: 1.88;
  color: #656689;
}

/* =================================================== Header ====================================================== */
.header {
  padding: 26px 0;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__list {
  display: flex;
}

.header-action__link,
.navbar__link {
  padding: 8px 18px;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1;
  color: #5e6085;
}

.navbar__link:hover {
  color: #000958;
  text-shadow: 1px 0 0 currentColor;
}

.header-action__btn {
  --height: 50px;

  min-width: 118px;
}

/* =================================================== Hero ====================================================== */
.hero {
  margin-top: 74px;
}

.hero__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 120px;
}

/* Hero Media */
.hero__media {
  position: relative;
  display: flex;
  padding-bottom: 94px; /* Thêm vào để nội dung sau này nó chạm phần box trắng thay vì ảnh lớn */
}

.hero__img-wrap {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 388px;
  height: 488px;
  background: #fe997b;
  border-radius: 16px;
  border: 3px solid #ffffff;
}

/* Ảnh nhỏ hơn không bị giãn ra và lớn hơn thì nó lại co lại nằm gọn trong khung  */
.hero__img {
  max-width: 100%;
  max-height: 100%;
  border-radius: inherit;
}

.hero__decor {
  position: absolute;
  z-index: -1;
}

.hero__decor-left {
  left: -58px;
  bottom: 10px;
}

.hero__decor-right {
  top: 16px;
  right: -42px;
}

.hero__img-wrap-small {
  align-self: flex-end; /* Có sử dụng flex thì đây là một flex item nên dùng được */
  width: 186px;
  height: 244px;
  margin: 0 0 -58px -24px; /* left ảnh lớn 135px + width 388px - left ảnh nhỏ 500px = 23px làm tròn 24px */
  border: 2px solid #f7dddf;
  background: #faa7ad;
}

.hero__list {
  position: absolute;
  left: 129px;
  bottom: 0; /* Tránh việc bị nội dung sau này thêm vào nó bị chui xuống bên dưới phần box trắng */
  width: 250px;
  height: 156px;
  padding: 18px 14px;
  background: #fff;
  box-shadow: -17px 14px 68px -4px #cfae8440;
  border-radius: 10px;
}

.hero-list-item {
  display: flex;
}

.hero-list-item__thumb {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  background: #fec23f;
  object-fit: cover;
}

.hero-list-item__info {
  margin-left: 10px;
}

.hero-list-item__title {
  font-family: Sora, sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1;
  color: #181e52;
}

.hero-list-item__skeleton {
  margin-top: 7px;
  width: var(--width, 118px);
  height: 4px;
  background: #000958;
  border-radius: 10px;
  opacity: 0.08;
}

.hero-list-item__separate {
  display: block;
  width: 100%;
  height: 2px;
  margin: 20px 0;
  background: #f2f2f2;
  border-radius: 99px;
}

.hero-list-item:nth-of-type(2) .hero-list-item__thumb {
  background: #6597c2;
}

/* Hero Content */
.hero__heading {
  font-family: Sora, sans-serif;
  font-weight: 800;
  font-size: 6.6rem;
  line-height: 1.15;
  color: #000958;
}

.hero__desc {
  margin-top: 24px;
  width: 391px;
  font-size: 1.6rem;
  line-height: 1.88;
  color: #656689;
}

.hero__row {
  margin-top: 38px;
  display: flex;
  align-items: center;
}

.hero__cta-btn {
  --height: 60px;

  box-shadow: 0px 13px 26px -8px #ff5b2e6b;
  min-width: 190px;
  font-size: 1.6rem;
}

.hero__cta-link {
  margin-left: 24px;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1;
  text-decoration: underline;
  color: #000958;
}

/* =================================================== About ====================================================== */
.about {
  margin-top: 138px;
}

.about__inner {
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 cột */
  align-items: center;
  row-gap: 146px; /* Khoảng cách giữa các hàng */
}

.about__media {
  position: relative;
}

.about__label {
  font-family: Sora, sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1;
  color: #5e6085;
}

.about__heading {
  margin-top: 15px;
}

.about__heading,
.about__desc {
  width: 444px;
}

.about__checklist {
  margin-top: 54px;
  display: grid;
  grid-template-columns: auto auto; /* Mặc định là 50% */
  justify-content: flex-start;
  gap: 36px;
}

.about__check-item {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 10px;

  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1;
  color: #48496a;
}

.about__check-item::before {
  content: "";
  display: inline-block; /* Để có được width, height */
  width: 24px;
  height: 24px;
  background: #ff5d31;
  box-shadow: 0px 4px 15px -3px #ff5d31b0;
  border-radius: 4px;
}

.about__check-item::after {
  position: absolute;
  top: 2px;
  left: 5px;
  content: url(../icons/check.svg);
}

.about__card {
  position: absolute;
  top: 160px;
  left: 0;
  width: 136px;
  padding: 30px 26px;
  border-radius: 10px;
  text-align: center;
  background: #5bd6e2;
  box-shadow: -15px 26px 48px 0px #55f0ff2b;
}

.about__card-title {
  font-family: Sora, sans-serif;
  font-weight: 700;
  font-size: 4.2rem;
  line-height: 1;
  color: #fff;
}

.about__card-desc {
  margin-top: 14px;
  font-size: 1.4rem;
  line-height: 1.43;
  color: #c6f4f9;
}

.about__card-decor {
  position: absolute;
  top: -38px;
  right: -30px;
}

.about__img-wrap {
  position: relative;
  width: 494px;
  margin-left: auto;
}

.about__img-wrap::after {
  content: "";
  position: absolute;
  height: 336px;
  z-index: -1;
  inset: auto 0 0 0; /* top: auto, right,bottom,left: 0 */
  background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
  border-radius: 16px;
}

.about__img {
  width: 450px;
  /* căn giữa ảnh */
  display: block;
  margin: 0 auto;
}

.about__media-decor {
  position: absolute;
  top: 157px;
  right: -48px;
  z-index: -1;
}

.about__img-wrap-bottom {
  width: 458px;
  margin-left: 0;
  border: 2px solid #ffffff;
  border-radius: 18px;
  box-shadow: 0px 17px 77px -8px #bea58b2b;
  background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
}

.about__img-wrap-bottom::after {
  content: none; /* Loại bỏ before, after */
}

.about__img-bottom {
  width: 100%; /* override */
}

.about__decor-img {
  position: absolute;
}

.about__decor-img:nth-child(1) {
  top: 13px;
  right: 64px;
}

.about__decor-img:nth-child(2) {
  top: -16px;
  right: 13px;
}

.about__decor-img:nth-child(3) {
  top: 33px;
  right: -21px;
}

.about__decor-img:nth-child(4) {
  top: 268px;
  right: -33px; /* -10px + width 23px = -33px */
}

.about__decor-img:nth-child(5) {
  bottom: 150px;
  right: 19px;
}

/* Đo khoảng cách từng vòng tròn */
.about__decor-img:nth-child(6) {
  right: -24px;
  bottom: -40px;
}

.about__decor-img:nth-child(7) {
  right: -33px;
  bottom: -47px;
}

.about__decor-img:nth-child(8) {
  right: -42px;
  bottom: -55px;
}

.about__desc-bottom {
  width: 511px;
  margin-bottom: 50px;
}

.tab__list {
  position: relative;
  display: inline-flex;
  column-gap: 56px;
}

.tab__list::after,
.tab__item--active::after,
.tab__content-more::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  border-radius: 1px;
  background: #ff5b2e;
  opacity: 0.07;
}

.tab__item--active::after {
  width: 95px;
  opacity: 1;
}

.tab__item {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding-bottom: 10px;
  cursor: pointer;
}

.tab__icon {
  width: 20px;
}

.tab__title {
  font-family: Sora, sans-serif;
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1;
  color: #48496a;
}

.tab__contents {
  padding-top: 36px;
}

.tab__content-item {
  display: none;
}

.tab__content-item--active {
  display: block;
}

.tab__content-desc {
  width: 391px;
  font-size: 1.4rem;
  line-height: 1.71;
  color: #656689;
}

.tab__content-more {
  position: relative;
  display: inline-block;
  margin-top: 32px;
  padding-bottom: 5px;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1;
  color: #ff5d31;
}

.tab__content-more::after {
  opacity: 1;
  height: 1.5px;
}

/* =================================================== Service ====================================================== */
.service {
  margin-top: 190px;
  background: #fff6ed;
  padding: 68px 0 100px;
}

.service__top {
  text-align: center;
}

.service__desc {
  font-family: Sora, sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1;
  color: #5e6085;
  margin-bottom: 15px;
}

.service__body {
  display: grid;
  grid-template-columns: auto 1fr auto;
  margin-top: 65px;
  column-gap: 70px;
}

.service-item {
  width: 294px;
  height: 208px;
  padding: 30px 22px 30px 28px;
  border-radius: 10px;
  background: #fff;
  border: 2px solid #ffbc7a42;
}

.service-item + .service-item {
  /* Đứng sau class service-item mới bị còn không thì giữ nguyên */
  margin-top: 24px;
}

.service-item__heading {
  position: relative;
  font-family: Sora, sans-serif;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 1;
  color: #000958;
  padding-left: 12px;
}

.service-item__heading::before {
  position: absolute;
  inset: 0 auto 0 0;
  content: "";
  display: inline-block;
  width: 2px;
  border-radius: 1px;
  background: linear-gradient(#ff5b2e, #ffa187);
}

.service-item__desc {
  margin-top: 18px;
  font-size: 1.4rem;
  line-height: 1.71;
  color: #656689;
}

.service-item__more {
  margin-top: 24px;
  display: inline-flex;
  align-items: center;
  font-family: Sora, sans-serif;
  font-size: 1.2rem;
  line-height: 1;
  color: #34396a;
}

.service-item__more::after {
  content: url(../icons/arrow-up-right.svg);
  margin: 1px 0 0 6px;
}

.service__media {
  margin-top: 18px;
  position: relative;
}

.service__media::after {
  content: "";
  position: absolute;
  inset: 243px 15px 0 22px;
  height: 350px;
  border-radius: 10px;
  background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.service__img {
  position: relative; /* Phải định vị thì mới dùng được z-index */
  z-index: 1; /* Vì có nền nên phải thêm vào để nó nổi lên */
  width: 100%;
}

.service__cta-wrap {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}

.service__cta {
  min-width: 214px;
  color: #ff5b2e;
  border: 1px solid currentColor;
  box-shadow: 0px 13px 26px -8px #ff5b2e6b;
}

/* =================================================== Staff ====================================================== */
.staff {
  padding: 130px 0;
}

.staff__desc,
.staff__heading {
  text-align: center;
}

.staff__desc {
  font-family: Sora, sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1;
  color: #5e6085;
  margin-bottom: 15px;
}

.staff__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 35px;
  margin-top: 45px;
}

.staff-item {
  text-align: center;
}

.staff-item__img-wrap {
  position: relative;
  margin: 0 16px;
  border-radius: 130px;
}

.staff-item__img-wrap::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 94%; /* Để như này để khi thu nhỏ màn hình lại nó sẽ thu nhỏ theo */
  border-radius: inherit;
  background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
}

.staff-item__img-wrap::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: calc(
    100% + 36px
  ); /* lấy 100% + với margin 16px 2 bên của ảnh là 32px và tăng thêm cho nó đầy đủ là 36px*/
  height: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%; /* Viết 1 lần là ứng với chiều rộng còn chiều cao là tự động */
}

.staff-item:nth-child(1) .staff-item__img-wrap::after {
  background-image: url(../img/staff-decor-01.svg);
}

.staff-item:nth-child(2) .staff-item__img-wrap::before {
  background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}

.staff-item:nth-child(2) .staff-item__img-wrap::after {
  background-image: url(../img/staff-decor-02.svg);
}

.staff-item:nth-child(3) .staff-item__img-wrap::before {
  background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}

.staff-item:nth-child(3) .staff-item__img-wrap::after {
  background-image: url(../img/staff-decor-03.svg);
}

.staff-item:nth-child(4) .staff-item__img-wrap::before {
  background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}

.staff-item:nth-child(4) .staff-item__img-wrap::after {
  background-image: url(../img/staff-decor-04.svg);
}

.staff-item:nth-child(even) .staff-item__img-wrap::after {
  background-position: 0 18px;
}

.staff-item__img {
  position: relative;
  z-index: 1;
  display: block;
  width: 100%;
  border-radius: inherit;
}

.staff-item__title {
  margin: 34px 0 14px 0;
  font-size: 1.4rem;
  line-height: 1;
  color: #656689;
}

.staff-item__name {
  font-family: Sora, sans-serif;
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 1;
  color: #000958;
}

.staff__cta-wrap {
  margin-top: 48px;
  display: flex;
  justify-content: center;
}

.staff__cta {
  min-width: 193px;
  color: #ff5b2e;
  border: 1px solid currentColor;
  box-shadow: 0px 13px 26px -8px #ff5b2e6b;
}
